################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/payment.service
/payment.service.api/obj
/payment.service.api/Properties
